.todo{
    width: 80%;
    border: 1px solid #ddd;
    margin: 20px 10%;
    padding: 10px;
    box-shadow: 4px 4px 15px #ddd;
    text-align: center;
    border-radius: 20px;
    float: right;
}

.todo-twoColumn{
    width: 23%;
    margin: 20px 1%;
    box-sizing: border-box;
}

.todoNumber{
    font-weight: bold;
}

.formItemCountainer{
    display: flex;
    align-items: center;
    margin: 0 15px;
    text-align: right;
}

.formItemCountainer p{
    width: 40%;
    margin: 0;
}

.formItemCountainer h4{
    margin: 3px 0;
    box-shadow: 0px 0px 3px #ddd;
    width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* .todo label{
    line-height: 48px;
} */

/* .todo input{
    width: 65%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 7px #ddd;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 20px;
    float: left;
} */

.todoButton {
    margin: 10px !important;
    width: 25%;
    padding: 5px;
}


@media (max-width:500px) {
    .todo-twoColumn{
        width: 95% !important;
        margin: 10px 2.5%;
    }
}