.toolbar {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 6px #ddd;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 2;
}

.hambergericon {
    display: none;
}

@media(max-width:500px){
    .toolbar .navbar,
    .toolbar .button {
        display: none;
    }
    .toolbar {
        height: 50px;
        padding: 0 5px;
    }
    .hambergericon {
        display: block;
    }
}

