.button{
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}
.danger{
    background-color: #f72222;
}
.success{
    background-color: #0ece0e;
}