/* .container {
    width: 90%;
} */
.newtodo{
    width: 70%;
    border: 1px solid #ddd;
    margin: 80px auto;
    padding: 10px;
    box-shadow: 4px 4px 15px #ddd;
    text-align: center;
    border-radius: 20px;
}

.newtodo label{
    display: block;
    text-align: center;
    font-weight: bold;
}

.newtodo input{
    width: 90%;
    border: 1px solid #ddd;
    margin: 10px auto;
    box-shadow: 2px 2px 7px #ddd;
    padding: 11px 15px;
    font-size: 17px;
    border-radius: 20px;
}

@media (max-width:500px) {
    .newtodo{
        width: 85%;
        margin: 90px auto 20px auto;
        box-sizing: border-box;
        float: none;
    }
}