.menuitem {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.menuitem a {
    text-decoration: none;
    color: #494949;
    padding: 10px;
}

.menuitem a:hover,
.menuitem a:active,
.menuitem a.active {
    color: black;
    cursor: pointer;
}